.Header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px 15px;
  position: sticky;
  top: 0;
}

.Header-logo {
  text-decoration: none;
  color: #fff;
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #fff;
  margin-right: auto;
}

.Header-logoText {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.Header-btn {
  display: block;
  background-color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 9px 15px;
  border-radius: 22px;
  margin-left: 15px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .Header {
    padding-left: 45px;
    padding-right: 45px;
  }

  .Header-btn {
    min-width: 100px;
    font-size: 16px;
    line-height: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
